<template>
  <div id="film_data">
    <h1>{{film.title}}</h1>
    <hr>
    <p><span>Episode: </span>{{film.episode_id}}</p>
    <p><span>Director: </span>{{film.director}}</p>
    <p><span>Producer: </span>{{film.producer}}</p>
    <p><span>Release date: </span>{{film.release_date}}</p>
    <p><span>Characters: </span></p>
      <ul v-for="character in film.characters" class="item">
      <li v-on:click="openCharacter(character.id)">{{ character.name }}</li>
      </ul>
    <p><span>Open crawl: </span>{{film.opening_crawl}}</p>
    <p><span>Last edit: </span>{{film.edited}}</p>
    <hr>
    <p style="text-align: right">Last refresh on <span>{{lastUpdate}}</span></p>
  </div>
</template>
<script>

  import dataManager from '../dataManager';

  export default {
    name: "FilmsRoute",
    data() {
      return {
        film: {},
        lastUpdate: ''
      }
    },
    methods: {
      displayFilm() {
        this.film = dataManager.getFilmById(this.$route.params.id);
        this.lastUpdate = this.moment(dataManager.getLastUpdateTime()).format('YYYY-MM-DD');
      },
      openCharacter(id) {
        this.$router.push('/people/route/' + id);
      }
    },
    beforeMount() {
      this.displayFilm()
    }
  }
</script>

<style scoped>
  #film_data {
    width: 300px;
    margin: 60px auto;
    text-align: left;
  }
  h1 {
    font-weight: bold;
    font-size: 50px;
  }
  span {
    font-weight: bold;
  }
</style>
