<template>
  <div id="data">
    <el-input placeholder="Type in film name" v-model="input"><el-button slot="append" icon="el-icon-search"></el-button></el-input>

    <el-table
      :data="tableData"
      @row-click="openFilm"
      v-loading.fullscreen.lock="fullscreenLoading"
      style="width: 1200px; margin-top: 50px">
      <el-table-column
        prop="title"
        label="Title"
        width="150px">
      </el-table-column>
      <el-table-column
        prop="episode_id"
        label="Episode"
        width="100px">
      </el-table-column>
      <el-table-column
        prop="director"
        label="Director">
      </el-table-column>
      <el-table-column
        prop="producer"
        label="Producer">
      </el-table-column>
      <el-table-column
        prop="release_date"
        label="Release date">
      </el-table-column>
      <el-table-column
        prop="characters[0].name"
        label="Characters">
      </el-table-column>
      <el-table-column
        prop="opening_crawl"
        label="Opening crawl">
      </el-table-column>
      <el-table-column
        prop="edited"
        label="Edited">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>

  import router from '../router';
  import dataManager from '../dataManager';

  export default {
    name: "FilmsRoot",
    data() {
      return {
        checkInput: true,
        searchInterval: 500,
        tableData: [{}],
        input: '',
        fullscreenLoading: false
      }
    },
    methods: {
      async updateData() {
        if (!dataManager.ifDataIsUpToDate()) {
          this.fullscreenLoading = true;
          await dataManager.updateData();
        }
        this.fullscreenLoading = false;
      },
      refreshData() {
        this.tableData = dataManager.getFilms();
      },
      filterByName() {
        this.data = dataManager.getFilmByName(this.input);
        this.displayData();
      },
      openFilm(film) {
        if (film === null || film === {}) return;

        const id = film.url.slice(27, film.url.length - 1);
        router.push('/films/route/' + id);
      }
    },
    watch: {
      input(val) {
        if (this.checkInput === false) return;

        this.filterByName(val);
        this.checkInput = false;
        setTimeout(() => {
          this.checkInput = true;
          this.filterByName();
        }, this.searchInterval);

      }
    },
    async beforeMount() {
      await this.updateData();
      this.refreshData();
    }
  }
</script>

<style scoped>
  #data {
    width: 1200px;
    margin: 60px auto;
    text-align: left;
  }
  .offset {
    margin: 30px;
  }
</style>
