<template>
  <div>
    <h1>STAR WARS LIBRARY</h1>
    <nav>
      <router-link to="/people"><el-button> Characters </el-button></router-link>
      <router-link to="/films"><el-button> Movies </el-button></router-link>
    </nav>
  </div>
</template>

<script>
    export default {
        name: "NavBar"
    }
</script>

<style scoped>
  h1 {
    font-weight: bolder;
    margin: 60px;
  }
</style>
