<template>
  <div id="data">
    <el-input placeholder="Type in your character" v-model="input"><el-button slot="append" icon="el-icon-search"></el-button></el-input>

    <el-table
    :data="tableData"
    @row-click="openCharacter"
    v-loading.fullscreen.lock="fullscreenLoading"
    style="width: 1200px; margin-top: 50px">
    <el-table-column
      prop="name"
      label="Name"
      width="150px">
    </el-table-column>
    <el-table-column
      prop="height"
      label="Height">
    </el-table-column>
    <el-table-column
      prop="mass"
      label="mass">
    </el-table-column>
    <el-table-column
      prop="hair_color"
      label="hair_color">
    </el-table-column>
    <el-table-column
      prop="skin_color"
      label="skin_color">
    </el-table-column>
    <el-table-column
      prop="eye_color"
      label="eye_color">
    </el-table-column>
    <el-table-column
      prop="birth_year"
      label="birth_year">
    </el-table-column>
    <el-table-column
      prop="gender"
      label="gender">
    </el-table-column>
    <el-table-column
      prop="films[0].title"
      label="films"
      width="250px">
    </el-table-column>
    <el-table-column
      prop="edited"
      label="edited">
    </el-table-column>
  </el-table>
    <el-button v-if="page > 0" @click="prev" style="float: left" class="offset"><i class="el-icon-arrow-left"/> prev page</el-button>
    <el-button v-if="page < maxPage" @click="next" style="float: right" class="offset"><i class="el-icon-arrow-right"/> next page</el-button>
  </div>
</template>

<script>

  import router from '../router';
  import dataManager from '../dataManager';
  import { moment } from 'moment'

  export default {
        name: "PeopleRoot",
        data() {
          return {
            pageSize: 10,
            page: 0,
            maxPage: 0,
            checkInput: true,
            searchInterval: 500,
            data: [{}],
            tableData: [{}],
            input: '',
            fullscreenLoading: false
          }
        },
        methods: {
          async updateData() {
            if (!dataManager.ifDataIsUpToDate()) {
              this.fullscreenLoading = true;
              await dataManager.updateData();
            }
            this.fullscreenLoading = false;
          },
          refreshData() {
            this.data = dataManager.getCharacters();
            this.recalculatePagination();
          },
          displayData() {
            let i = this.page * this.pageSize;
            this.tableData = this.data.slice(i, i + this.pageSize);
          },
          next() {
            if (this.page === this.maxPage) return;
            this.page++;
            this.displayData();
          },
          prev() {
            if (this.page === 0) return;

            this.page--;
            this.displayData();
          },
          recalculatePagination() {
            this.page = 0;
            this.maxPage = Math.floor(this.data.length / this.pageSize);
          },
          filterByName() {
            this.data = dataManager.getCharacterByName(this.input);
            this.recalculatePagination();
            this.displayData();
          },
          openCharacter(character) {
            if (character === null || character === {}) return;

            const id = character.url.slice(28, character.url.length - 1);
            router.push('/people/route/' + id);
          },
          openFilm() {
            return 'abc'
          }
        },
        watch: {
          input(val) {
            if (this.checkInput === false) return;

            this.filterByName(val);
            this.checkInput = false;
            setTimeout(() => {
              this.checkInput = true;
              this.filterByName();
              }, this.searchInterval);

          }
        },
        async beforeMount() {
          await this.updateData();
          this.refreshData();
          this.displayData();
        }
    }
</script>

<style scoped>
#data {
  width: 1200px;
  margin: 60px auto;
  text-align: left;
}
.offset {
  margin: 30px;
}
</style>
