<template>
  <div id="character_data">
    <h1>{{character.name}}</h1>
    <hr>
    <p><span>Height: </span>{{character.height}}</p>
    <p><span>Mass: </span>{{character.mass}}</p>
    <p><span>Hair color: </span>{{character.hair_color}}</p>
    <p><span>Skin color: </span>{{character.skin_color}}</p>
    <p><span>Eye color: </span>{{character.eye_color}}</p>
    <p><span>Date of birth: </span>{{character.birth_year}}</p>
    <p><span>Gender: </span>{{character.gender}}</p>
    <p><span>Films: </span></p>
    <ul v-for="film in character.films" class="item">
      <li v-on:click="openFilm(film.id)">{{film.title}}</li>
    </ul>
    <p><span>Last edit: </span>{{character.edited}}</p>
    <hr>
    <p style="text-align: right">Last refresh on <span>{{lastUpdate}}</span></p>
  </div>
</template>
<script>

  import dataManager from '../dataManager';

  export default {
      name: "PeopleRoute",
      data() {
        return {
          character: {},
          lastUpdate: ''
        }
      },
      methods: {
        displayCharacter() {
          this.character = dataManager.getCharacterById(this.$route.params.id);
          this.lastUpdate = this.moment(dataManager.getLastUpdateTime()).format('YYYY-MM-DD');
        },
        openFilm(id) {
          this.$router.push('/films/route/' + id);
        }
      },
      beforeMount() {
        this.displayCharacter()
      }
    }
</script>

<style scoped>
  #character_data {
    width: 300px;
    margin: 60px auto;
    text-align: left;
  }
  h1 {
    font-weight: bold;
    font-size: 50px;
  }
span {
  font-weight: bold;
}
</style>
